* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(bts\ photo\ with\ name\ on\ it\ \(1\).jfif);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: blueviolet;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 600px;
    float: left;
    height: 80px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style-type: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: blueviolet;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content .h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 30px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background-color: blueviolet;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4 ease;
}

.content .cn a {
    text-decoration: none;
    color: black;
    transition: .3 ease;
}

.cn:hover {
    background-color: #fff;
    transition: .4 ease;
}

.content span {
    color: blueviolet;
    font-size: 60px;
}

.about_us {
    width: 100%;
    padding: 70px 0px;
    background-color: rgba(28, 17, 17, 0.991);
}

.about_us img {
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.man {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p {
    color: darkgrey;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.popular {
    background-color: purple;
    color: var(--white-color);
    padding: 60px 20px 120px;
}
.popular .popular_container {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    align-items: center;
    flex-wrap: wrap;
}
.section_container .popular_items img {
    width: 100%;
}
.section_container .popular_items {
    width: calc(100% / 3 - 120px);
}
.popular_items .popular_text {
    text-align: center;
}
.popular_items .popular_text h3 {
    margin: 12px 0;
    font-weight: 600;
    font-size: 24px;
}
.popular_items .popular_text p {
    font-size: 17px;
}

.contact {
    background-image: url(de15e126-2c8d-4b8a-8241-81fa9321cff7.jfif);
    padding: 60px 20px 100px;
}
.contact_container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.contact_container .contact_form {
    max-width: 65%;
    width: 100%;
}
.contact_container .contact_form .field {
    margin: 20px 0;
}
.contact_container .contact_form .field label {
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
}
.contact_container .contact_form .field input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.contact_container .contact_form textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
}
.contact_container .contact_form .button {
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: black;
    color: brown;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.4s ease;
}
.contact_container .contact_form .button:hover {
    color: var(--primary-color);
    background: transparent;
    border-color: var(--primary-color);
}
.contact_text .contact_items {
    display: flex;
    gap: 20px;
    margin: 80px 0;
}